@font-face {
  font-family: 'beat';
  src: url("../font/beat.ttf"); }
@font-face {
  font-family: 'courb';
  src: url("../font/courbd.ttf"); }
@font-face {
  font-family: 'cour';
  src: url("../font/cour.ttf"); }
body input[type="text"] {
  background: transparent;
  border: none;
  font-family: 'courb';
  width: 260px;
  border-bottom: solid #f26d7d; }

header {
  font-family: 'beat', 'Georgia', serif;
  font-size: 64px;
  color: #4ef4cf; }
  header a:link {
    outline-style: none; }
  header a {
    text-decoration: none;
    color: #4ef4cf; }
  header .navigation-closed {
    z-index: 100;
    position: fixed;
    top: 20px;
    right: 20px; }
    header .navigation-closed #nav-button-image {
      width: 50px; }
  header .navigation-open {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(154, 101, 101, 0.95); }
    header .navigation-open #nav-button-image {
      width: 50px;
      position: fixed;
      right: 20px;
      top: 20px; }
  header #nav-button .close {
    background-image: url("../img/navigation.png");
    height: 35px;
    width: 50px;
    background-size: cover; }
  header #nav-button .open {
    background-image: url("../img/cross.png");
    height: 50px;
    width: 50px;
    margin-top: -7px;
    background-size: cover; }
  header .links {
    display: block;
    margin-top: 36vh; }
    header .links .hover-links li {
      margin-top: 20px; }
    header .links .hover-links a:hover {
      text-decoration: line-through; }
  header .links-closed {
    display: none; }
  header li {
    list-style-type: none; }

#slide-1 {
  background-image: url("../img/home480.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }
  #slide-1 .logo {
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 24vh; }
  #slide-1 .sticker {
    margin-left: 27.5vw;
    margin-top: 20vw; }
    #slide-1 .sticker img {
      width: 45vw; }

#slide-2 {
  position: relative;
  background-position: center center;
  background: #f26d7d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: #fffefe;
  font-family: 'cour';
  font-size: 28px; }
  #slide-2 input:focus {
    outline-width: 0; }
  #slide-2 input[type="text"] {
    background: transparent;
    border: none;
    font-family: 'cour';
    font-size: 24px;
    width: 75vw;
    border-bottom: solid #fffefe; }
  #slide-2 .container {
    margin-left: 10vw;
    width: 80vw;
    padding-top: 33vh; }
  #slide-2 .sonario-name {
    font-size: 16px; }
  #slide-2 #sonario-btn {
    background: none;
    border: solid #fffefe 2px;
    color: #fffefe;
    padding: 10px;
    font-family: 'cour';
    font-size: 20px;
    width: 30%;
    margin-left: 35%;
    margin-top: 10vh; }
  #slide-2 .question {
    width: 20%;
    margin-left: 40%;
    margin-top: 20vh; }

#slide-3 {
  position: relative;
  background-position: center center;
  background: #7ef7dc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: #186f5c;
  font-family: 'cour';
  font-size: 24px; }
  #slide-3 .container {
    padding-top: 1vh;
    padding-left: 10vw;
    padding-right: 10vw; }
  #slide-3 .about {
    text-align: center;
    font-size: 64px;
    margin-bottom: 25px; }
  #slide-3 .small-logo {
    width: 28%;
    margin-left: 36%; }
  #slide-3 a {
    color: #186f5c; }

#slide-4 {
  position: relative;
  background-position: center center;
  background: #f695a0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: #fffefe;
  font-family: 'cour';
  font-size: 30px; }
  #slide-4 input[type="text"] {
    width: 200px;
    font-family: cour;
    border-bottom: solid #fff; }
  #slide-4 .container {
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw; }
    #slide-4 .container p {
      text-align: center; }
  #slide-4 input:focus {
    outline-width: 0; }
  #slide-4 #sonario-btn {
    background: none;
    border: none;
    width: 100%;
    margin-top: 60px; }

#myAudio {
  display: none; }

#doTimer {
  background: url("img/start.png");
  font-family: courb;
  background: none;
  border: solid #000 2px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 5vw;
  width: 50%;
  margin-left: 25%;
  margin-top: 30vh; }
